* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  background-color: cadetblue;
  align-items: center;
  padding: 1rem;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  i {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
  }

  span {
    color: #660f9d;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
  }
}

section {
  width: 90%;
  margin: 2rem auto 5rem auto;
  padding: 1rem;
  transition: .7s;
}

.carousel {
  figure {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  img {
    display: none;
    width: 98%;
    margin: 2rem auto;
    height: auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px transparent;
    transition: .7s;
  }

  img:hover {
    box-shadow: 5px 5px 5px 5px #c1b9b9;
  }

  #prev {
    float: left;
    margin-left: 1rem;
  }

  #next {
    float: right;
    margin-right: 1rem;
  }

  i {
    font-size: 5rem;
    color: deepskyblue;
  }
}

//i made this css which i need
.tab-content {
  display: none;
}

.more-info {
  h2 {
    text-transform: capitalize;
    color: #12a493;
    width: fit-content;
    margin: 1rem 0;
  }

  i {
    font-size: 2rem;
    text-transform: capitalize;
  }

  form {
    width: 100%;
    margin: auto;
    padding: 1rem;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px 3px #d0cccc;
  }

  form:hover {
    box-shadow: 3px 3px 3px 3px gray;
  }

  .float-left {
    float: left;
    width: 49%;
    margin-right: 1%;
  }

  .user-name::after, .email-phone::after {
    clear: both;
    content: "";
    display: table;
    margin-bottom: 1rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 20vh;
    min-height: 10vh;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  input, textarea {
    text-transform: capitalize;
    font-size: 1rem;
    padding: .2rem;
  }

  #submit-btn {
    margin-top: 1rem;
    border: none;
    background-color: #12a493;
    border-radius: .5rem;
    padding: .8rem 2.5rem;
  }
}



